<li class="waves-effect waves-light-blue" id='presentacion-link'><a href="/presentacion" {{action 'scrollTo' 'presentacion' '#presentacion'}}>Quiénes somos</a></li>
<li class="waves-effect waves-light-blue" id="servicios-link"><a href="/" {{action 'scrollTo' 'index' '#servicios'}}>Servicios</a></li>
<li class="waves-effect waves-light-blue" id="eventos-link"><a href="/" {{action 'scrollTo' 'index' '#eventos' }}>Eventos</a></li>
<li class="waves-effect waves-light-blue" id="agenda-link"><a href="/" {{action 'scrollTo' 'index' '#agenda' }}>Agenda</a></li>
<li class="waves-effect waves-light-blue" id="contacto-link"><a href="/" {{action 'scrollTo' 'index' '#contacto' }}>Contacto</a></li>
